# Python virtual environment
stock/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Log files
*.log
# pdf 
*.pdf
# docx
*.docx

# Cache files
.ruff_cache/
.pytest_cache/
